// Global styling for this template
body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
#about {
  background-image: url(../img/self-portrait.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
  #about {
    background-image: url(../img/self-portrait-large.png);
    background-position: right;
    background-size: cover;
    background-color: #c05c92;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
  color: $white;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

h3.lead {
  font-size: 1.7rem;
  font-weight: 400;
  color: $white;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.fa-pixiv {
  content: url("../img/icons/pixiv.png");
  width: 1.5rem;
  height: 1.4rem;
}

.fa-go {
  content: url("../img/icons/go-dark.png");
  width: 4rem
}
.fa-go:hover {
  content: url("../img/icons/go-primary.png");
}
.fa-cpp {
  content: url("../img/icons/cpp-dark.png");
  width: 2.5rem
}
.fa-cpp:hover {
  content: url("../img/icons/cpp-primary.png");
}
.fa-c {
  content: url("../img/icons/c-dark.png");
  width: 2.5rem
}
.fa-c:hover {
  content: url("../img/icons/c-primary.png");
}
.fa-mysql {
  content: url("../img/icons/mysql-dark.png");
  width: 5rem
}
.fa-mysql:hover {
  content: url("../img/icons/mysql-primary.png");
}
.fa-photoshop {
  content: url("../img/icons/adobe-photoshop-dark.png");
  width: 3rem
}
.fa-photoshop:hover {
  content: url("../img/icons/adobe-photoshop-primary.png");
}
.fa-illustrator {
  content: url("../img/icons/adobe-illustrator-dark.png");
  width: 3rem
}
.fa-illustrator:hover {
  content: url("../img/icons/adobe-illustrator-primary.png");
}
